

.left {
    float:left
}
.right {
    float:right
}
.wrapper {
    width:100%;
    overflow:hidden
}
.relative {
    position:relative
}

body {	
    border:0;
    font:14px monospace;
    color:#0f0f0f;
    line-height:20px
}

.body5
{
    width: 100%;
    background: url(../Image/bg_main.jpg) 0 0 repeat;
    min-height: 320px;
}
.borderMainMenu{
    
    border-left: 1px solid #114646;
    padding-left: 15px;
    padding-top: 15px;
}




.main {
    margin:0 auto;
    width:916px;
}

.mainBody {
    vertical-align: top;
    display: inline-block;
}

img {
    cursor: pointer;
}

.body1 {
    background:url(Image/bg_main.jpg) 0 0  repeat;
}

a {
    color:#13c5ff;
    text-decoration:underline;
    outline:none
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #f85959;
}
h1 {
    padding:37px 0 0 19px;
    float:left
}
h2 {
    font-size:40px;
    line-height:1.2em;
    color:#0f0f0f;
    padding:1px 0 17px 10px;
    letter-spacing:-1px
}
h2 span {
    color:#13c5ff
}
p {
    padding-bottom:20px
}

header {
    height:645px
}
#logo {
    display:block;
    background:url(../Images/logo.png) 0 0 no-repeat;
    width:276px;
    height:94px;
    text-indent:-9999px
}


.menu_nav {
    margin:0 0 10px;
    padding:0;
}
.menu_nav ul {
    list-style:none;
    margin:0;
    padding:0;
    float:right;
}
.menu_nav ul li {
    margin:0;
    padding:15px 5px 15px 0;
    float:left;
    background:url(images/menu_line.jpg) repeat-x top;
}
.menu-content ul li a {
    display:block;
    margin:0;
    padding:11px 25px;
    color:#878989;
    text-decoration:none;
    font-size:13px;
    line-height:16px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
    color:#fff;
    text-decoration:none;
    background:#78bbe6;
}

.menu-content{
    font-size: larger;
    padding-right:128px;
    text-decoration: none;
    list-style: none;
}



ul.menu-content li a span{
    display:block;
    color: rgb(158, 62, 47);
    text-decoration:none;
    padding:2px;

    border-right: 1px solid rgb(204, 204, 204);

}

ul.menu-content li a span:hover{

    background:#F0C684;
    opacity: 0.8;
}

ul.menu-content li.active span{
    color:#FFF;
    background:#73C5DE;

}

ul.menu-content li a span:hover {
    text-decoration:none;
}

#menu {
    float:right;

}
#menu li {
    float:left;
    padding-right:128px;
}
#menu .end {
    padding-right:0
}
#menu li a {
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0 6px;
}
#menu li a:hover, #menu #active a {
    color:#13c5ff
}

ul.content_menu li, ul.ex_menu li {
    margin:0;
}
ul.leftPanel ul.leftPanel li {
    padding:2px 0 2px 15px;
}

ul.leftPanel, ul.ex_menu {
    margin:0;
    padding:0;
    color: Black;
    list-style:none;
}
ul.leftPanel li, ul.ex_menu li {
    margin:0;
}
ul.leftPanel li {
    padding:2px 0 2px 15px;
}

ul.leftPanel li a {
    display:block;
    color: #333333;
    text-decoration:none;

    padding:5px;
    margin-left:-15px;
    padding-left:15px;
    text-align: left;
}
ul.leftPanel li a:hover{
    color:#FFF;
    background:#C8DAE6;
}

ul.leftPanel li.active a {
    background:#78bbe6;
    font-weight: bold;
}

ul.leftPanel li a:hover {
    text-decoration:none;
}

ol
{
    width: 700px;
}


ol li
{
    float: left;
    width: 350px;
    max-height: 226px;
    min-height: 226px;
    list-style: none;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.button {
    display:inline-block;
    color:#fff;
    line-height:28px;
    text-decoration:none;
    padding:0 14px;
    background:#13c5ff
}
.button:hover {
    background:#373737
}

.onHide {
    display: none !important;
}

.onhidden{
    visibility: hidden;
}

.imgItem{
    width: 80%;
    height: 80%;
    max-width: 200px;
    max-height: 220px;
    min-width: 200px;
    min-height: 220px;
    cursor: pointer;
}

.price{
    color: red;
    font-weight: bold;
}

.imgCart{
    /*    min-width: 80px;*/
    min-height: 20px;
}

.tableItem{
    border: 1px solid #878989;
    width: 350px;
}

.allPrice{
   font-weight: bold;
}

.category-form{
    width: 200px;
}

.categoryName{
/*    width: 100px;*/
/*    height: 26px;*/
    
    display: block;
/*    background-color: rgb(217, 83, 45);*/
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
/*    border-radius: 15px 15px 0px 0px;*/
/*    border: 1px solid rgb(204, 204, 204);*/
/*    border-radius: 0px 15px 15px 0px;*/
    border-bottom: 2px solid #565d64;
    padding-left: 30px;
}

.pure-form {
    background: url(../Image/bg_form.png) 0 0 repeat;
    color: white;
}

#top-ul{
    font-size: large;
}

#loginStatus, #regStatus{
    color: rgb(250, 103, 103);
}